/**GUIDELINE
Supported Screen dims : ALL;
*/

@font-face{
	font-family: quickLight;
	src: url(assets/quicksand/Quicksand-Light.otf);
}
@font-face{
	font-family: quickRegular;
	src: url(assets/quicksand/Quicksand-Regular.otf);
}

/*
Static page elements
*/
body{
	background-color: #f9fafa;
	font-family: quickRegular, Serif, Sans-Serif, Arial;
	color: #000000;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: #6E6C7B;
}
.words{
	max-width: 85%;
	margin: auto;
}
section{
	position: relative;
	text-align: center;
}
/*
Custom page elements, highest-level ordering
*/
#landing{
	width: 100%;
	margin-bottom: 5%;
/*	top: 50%;
	bottom: -50%;
*/
}
#landing img{
	width: 35%;
	max-width: 350px;
	margin-bottom: 25px;
}
#links{
	margin-top: 5%;
	margin-bottom: 5%;
}
#links img{
	min-width: 32px;
	width: 5%;
	max-width: 48px;
	background-color: #303030;
	border-radius: 10px;
	padding: 10px;
	-webkit-transition: background-color .2s, top 0.5s, ease-in-out;
	-moz-transition: background-color .2s, top 0.5s, ease-in-out;
	-o-transition: background-color .2s, top 0.5s, ease-in-out;
	transition: background-color .2s, top 0.5s, ease-in-out;
}
#links img:hover{
	background-color: #95a5a6;
	cursor: pointer;
	top: -5px;
}
/*
Individual page elements, specific PER element
*/